.heading {
  font-family: 'Roboto Slab', serif;
  word-wrap: break-word;
  font-size: 3rem;

    &-um {
    margin-left:$gutter;
    color:#fff;
    
  }

  &-home {
    color: #000000;

     &-first {
      font-family: 'Open Sans', sans-serif;
      font-size: 24px;
    }

    &-second {
      font-weight: 900;
    }

    &-kaupa {
      
    }
  }
}

.kaupa {
  font-size: 21px;
      transition: background 500ms;
      background-color: #585C57;
      text-decoration: none;
      margin: 20px;
      padding:15px;
      color:#fff;
      font-family: 'Open Sans', sans-serif;
      text-decoration:none;
      border-radius: 5px;


}