

.row-section1 {
  margin-bottom: 100px;
}

.row-section2 {
  justify-content: center;
}
.checkbox {


  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @media(max-width: 599px) {
    margin-bottom: 100px;
  }

}

.hlutur {

  &-2 { 
    height: 40px;
    display: flex;
    }  

    img {
      max-height: 100%;
      max-width: 100%;
      margin-right: 10px;
    }
 
}

.profile-table {
    

}
.profile {
    width: 100%;
    height: 500px;;
    display: flex;
    flex-direction: column;
    justify-content: space-around;


    img {
      border-radius: 200px;
    }

    h3, h4, h5 {
       text-align: center;
       font-family: 'Open Sans', sans-serif;
      }

    h3 {
      font-style: italic;
    }
  }

.home-footer {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0;

}