form {
  width: 100%;
  padding: 5em 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

#paymentinfo {
  overflow: auto;
}

form fieldset {
  float: left;
  border-style: none;
  width: 50%;
}

#leftfieldset {
  padding: 0 9.5% 0 8.5%;

}

#rightfieldset {
  padding: 0 8.5% 0 9.5%;
}

legend {
  padding-bottom: 0.5em;
  font-size: 21px;
  font-weight: bold;
}

.field {
  padding: 0.5em 0;
}

.field #monthleft, #yearright {
  float: left;
  width: 50%;
}

input[type=text] {
  width: 100%;
  padding: 8px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

select {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

#payment {
  width: 100%;
}

#monthdiv, #yeardiv {
  float: left;
  width: 50%;
}

#monthdiv label, #yeardiv label {
  width: 100%;
}

#monthdiv select, #yeardiv select {
  float: right;
  width: 65%;
}

#monthdiv {
  padding-right: 10px;
}

#yeardiv {
  padding-left: 10px;
}

input[type=submit] {
  padding: 10px 100px;
  margin: 4px 2px;
  background-color: #747373;
  color: white;
  border: none;
  cursor: pointer;
}

#button {
  margin: auto;
  text-align: center;
}

.check input {
  margin: 5px 10px 7px 0;
}

@media (max-width: 700px) {

  #leftfieldset, #rightfieldset {
    padding: 0 5px 0 5px;
  }
}

@media (max-width: 500px) {

  #leftfieldset, #rightfieldset {
    padding: 0 0 0 0;
  }
  
  form fieldset {
    width: 100%;
    margin: 10px 0 10px 0;

  }
  #button {
    margin-top: 20px;
  }
}