.nav {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: $max-width;
  padding: 5px $gutter 5px $gutter;
  background-color: #000;
  opacity: 0.8;

  &-link {

    padding: 5px;
    font-family: "Roboto Slab", serif;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;

    &-kaupa {

      float: right;
      font-family: "Open Sans", sans-serif;
      background-color: #585c57;
      transition: background 500ms;

      &:hover {

        background: #000;
      }
    }
  }
}

.nav .nav-link:first-child {
  font-size: 21px;
  font-weight: bold;
}

.nav .nav-link:last-child {
  float: right;
  font-family: "Open Sans", sans-serif;
}
