@charset "UTF-8";
/* setjum box-sizing: border-box; á allt */
html {
  /* stylelint-disable-line */
  box-sizing: border-box; }

*, *:before, *:after {
  /* stylelint-disable-line */
  box-sizing: inherit;
  /* fjarlægjum margin og padding */
  padding: 0;
  margin: 0; }

html {
  /* stylelint-disable-line */
  margin-right: 20px;
  margin-left: 20px;
  font-size: 16px;
  line-height: 1.5; }
  @media (min-width: 1200px) {
    html {
      margin: 0; } }

img {
  /* stylelint-disable-line */
  max-width: 100%; }

main {
  /* stylelint-disable-line */
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden; }

blockquote {
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
  margin-left: 8.33333%;
  margin-top: 4.16667%;
  float: right;
  max-width: 50%; }

blockquote {
  font-style: italic;
  font-weight: bold;
  font-size: 1.5em;
  margin-left: 8.33333%;
  margin-top: 4.16667%;
  margin-bottom: 4.16667%;
  float: right;
  max-width: 50%; }

@media (max-width: 400px) {
  blockquote {
    min-width: 100%; } }

main {
  font-family: 'Roboto slab', serif; }
  main .grid:first-child {
    margin-top: 4.16667%; }

.row-footer {
  background-color: #333;
  color: #fff;
  padding-bottom: 20px; }

.col-footer_left {
  margin-left: 25%;
  text-align: center;
  padding-top: 20px; }

.col-footer_right {
  margin-right: 25%;
  text-align: center;
  padding: 20px 0 20px 0; }

.col-footer {
  border-top: 1px solid #bebebe;
  padding-top: 20px;
  text-align: center;
  color: #d3d3d3; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px; }

.col {
  padding-right: 10px;
  padding-left: 10px; }
  .col-12 {
    width: 100%; }
  .col-8 {
    width: 66.66667%; }
  .col-6 {
    width: 50%; }
  .col-4 {
    width: 33.33333%; }
  .col-3 {
    width: 25%; }
  @media (max-width: 599px) {
    .col-sm-12 {
      width: 100%; }
    .col-sm-6 {
      width: 50%; }
    .col-sm-3 {
      width: 25%; } }
  @media (max-width: 399px) {
    .col-exs-12 {
      width: 100%; }
    .col-exs-6 {
      width: 50%; }
    .col-exs-3 {
      width: 25%; } }

.offset-2 {
  margin-left: 16.66667%; }

@media (max-width: 599px) {
  .offset-sm-0 {
    margin-left: 0; } }

.nav {
  max-width: 1200px;
  width: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
  opacity: 0.8;
  padding: 5px 20px 5px 20px; }
  .nav a {
    padding: 5px;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    border-radius: 5px; }

.nav a:first-child {
  font-weight: bold;
  font-size: 21px; }

.nav a:nth-child(2) {
  float: right;
  transition: background 500ms;
  font-family: 'Open Sans', sans-serif;
  background-color: #585C57; }

.nav a:hover:nth-child(2) {
  background: #000; }

.nav a:last-child {
  float: right;
  font-family: 'Open Sans', sans-serif; }

.header {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 100px;
  min-height: 500px;
  align-items: center; }
  .header-um {
    background-image: url(myndir/bg-subpage.jpg);
    background-position: center;
    background-size: cover; }
  .header-home {
    background-image: url(myndir/bg.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    justify-content: center; }

.heading {
  font-family: 'Roboto Slab', serif;
  word-wrap: break-word;
  font-size: 3rem; }
  .heading-um {
    margin-left: 20px;
    color: #fff; }
  .heading-home {
    color: #000000; }
    .heading-home-first {
      font-family: 'Open Sans', sans-serif;
      font-size: 24px;
      transition: opacity 100ms ease-in-out 1s;
      animation-name: transition;
      animation-duration: 3s; }

@keyframes transition {
  from {
    opacity: 0.0; }
  to {
    opacity: 1.0; } }
    .heading-home-second {
      font-weight: 900;
      animation-name: transition;
      animation-duration: 6s; }

.text {
  font-family: open sans-serif; }
  .text__p {
    margin-bottom: 20px; }

.button {
  display: inline-block;
  width: 100%;
  max-width: 256px;
  padding: 10px 5px;
  margin: 0;
  overflow: hidden;
  font-family: Lato, helvetica, arial, sans-serif;
  font-size: 1rem;
  color: #eee;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  background-color: #666;
  border: 1px solid #666;
  border-radius: 4px;
  transition: background-color 500ms ease, color 500ms ease; }
  .button:hover {
    color: #eee;
    background-color: #333; }
  .button--inverted {
    color: #666;
    background-color: #eee; }
  .button--inverted:hover {
    color: #333;
    background-color: #ccc; }
  .button--disabled, .button--disabled:hover {
    color: #999;
    background-color: #eee;
    border-color: #eee; }

.card {
  width: 100%;
  min-width: 200px;
  max-width: 800px;
  overflow: hidden;
  background-color: #eee;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  transition: background-color 500ms ease; }
  .card:hover {
    background-color: #ddd; }
  .card__heading {
    width: 100%;
    margin-bottom: 15px;
    font-family: Merriweather, georgia, serif;
    font-size: 1.5rem;
    word-break: break-word; }
  .card__content {
    display: flex;
    padding: 15px;
    flex-direction: column;
    align-items: center; }
  .card__text {
    margin-bottom: 30px; }
  .card__img {
    width: 100%;
    min-width: 200px;
    max-width: 100%; }
  @media (min-width: 600px) {
    .card--wide {
      display: flex; } }
  @media (min-width: 600px) {
    .card--wide .card__content {
      align-items: flex-start; } }
  @media (min-width: 600px) {
    .card--wide .card__img {
      min-width: 400px;
      height: 100%;
      object-fit: cover; } }

.cardlist__row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px; }

.cardlist__col {
  width: 100%;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 0 20px; }
  @media (min-width: 600px) {
    .cardlist__col {
      width: 50%;
      margin-right: 0;
      margin-left: 0; } }

.row-section1 {
  margin-bottom: 100px; }

.row-section2 {
  justify-content: center; }

.checkbox {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  @media (max-width: 599px) {
    .checkbox {
      margin-bottom: 100px; } }

.kaupa {
  animation-name: transition;
  animation-duration: 13s;
  font-size: 21px;
  transition: background 500ms;
  background-color: #585C57;
  text-decoration: none;
  margin: 50px;
  padding: 15px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  border-radius: 5px; }

.kaupa:hover {
  background: #000; }

.hlutur-2 {
  height: 40px;
  display: flex; }

.hlutur img {
  max-height: 100%;
  max-width: 100%;
  margin-right: 10px; }

.profile {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .profile img {
    border-radius: 200px; }
  .profile h3, .profile h4, .profile h5 {
    text-align: center;
    font-family: 'Open Sans', sans-serif; }
  .profile h3 {
    font-style: italic; }

.home-footer {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0; }

form {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  width: 100%;
  padding: 5em 0 5em 0; }

#paymentinfo {
  overflow: auto; }

form fieldset {
  float: left;
  border-style: none;
  width: 50%; }

#leftfieldset {
  padding: 0 9.5% 0 8.5%; }

#rightfieldset {
  padding: 0 8.5% 0 9.5%; }

legend {
  padding-bottom: 0.5em;
  font-size: 21px;
  font-weight: bold; }

.field {
  padding: 0.5em 0 0.5em 0; }

.field #monthleft, #yearright {
  width: 50%;
  float: left; }

input[type=text] {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  width: 100%;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px; }

select {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; }

#payment {
  width: 100%; }

#monthdiv, #yeardiv {
  width: 50%;
  float: left; }

#monthdiv label, #yeardiv label {
  width: 100%; }

#monthdiv select, #yeardiv select {
  width: 65%;
  float: right; }

#monthdiv {
  padding-right: 10px; }

#yeardiv {
  padding-left: 10px; }

input[type=submit] {
  background-color: #747373;
  border: none;
  color: white;
  padding: 10px 100px;
  margin: 4px 2px;
  cursor: pointer; }

#button {
  text-align: center;
  margin: auto; }

.check input {
  margin: 5px 10px 7px 0; }

@media (max-width: 700px) {
  #leftfieldset, #rightfieldset {
    padding: 0 5px 0 5px; } }

@media (max-width: 500px) {
  #leftfieldset, #rightfieldset {
    padding: 0 0 0 0; }
  form fieldset {
    width: 100%;
    margin: 10px 0 10px 0; }
  #button {
    margin-top: 20px; } }
